<header class="header flex --just-space --align-center">
    <div class="header__logo header-logo flex --align-center">
        <a href="https://melbet.com/" class="header-logo__link">
            @@include('../../bem-blocks/_sprite/_sprite.html',{
                "class": "header-logo__img",
                "id": "logo"
            })
        </a>
        <picture class="header-logo__flag">
            <source srcset="../../../img/flag.webp" type="image/webp">
            <source srcset="../../../img/flag.png" type="image/png">
            <img src="../../../img/flag.png" alt="Venezuela flag">
        </picture>
    </div>
    <div class="header__links header-links">
        <nav class="header-links__nav header-links-nav flex --align-center">
            <a class="header-links-nav__item header-links-nav-item" href="#banner-form">START EARNING</a>
            <a class="header-links-nav__item header-links-nav-item" href="#teamCash">ABOUT US</a>
            <a class="header-links-nav__item header-links-nav-item" href="#howTo">HOW TO START</a>
            <a class="header-links-nav__item header-links-nav-item" href="https://t.me/Latam_TeamCash">
                <picture class="header-links-nav-item__img">
                    <source srcset="../../../img/telegram.webp" type="image/webp">
                    <source srcset="../../../img/telegram.png" type="image/png">
                    <img src="../../../img/telegram.png" alt="Telegram ico">
                </picture>
            </a>
        </nav>
    </div>
</header>
