.title {
  text-align: center;
  font-size: 4rem;
  line-height: 3.46rem;
  font-weight: 800;
  margin-right: auto;
  margin-left: auto;

  &--shadow {
    text-shadow: 10px 3px 25px var(--title-shadow-color);
    font-weight: 900;
  }

  &--dark {
    color: #000000;
    text-align: left;
    text-shadow: unset;
    font-weight: 900;
  }
}

html[lang="es"] {
  .title {
    font-size: 2.8rem;
  }
}