@media (min-width: 2200px) {
    .offer__background:before {
        top: -85px;
        bottom: -110px;
    }
}

@media (min-width: 2500px) {
    .offer__background:before {
        top: -75px;
        bottom: -150px;
    }
}

@media (min-width: 2800px) {
    .offer__background:before {
        bottom: -180px;
    }
}

@media (min-width: 3350px) {
    .offer__background:before {
        top: -75px;
        bottom: -220px;
    }
}

@media (min-width: 3650px) {
    .offer__background:before {
        top: -125px;
        bottom: -290px;
    }
}

@media (max-width: 1439px) {
    .howto__title {
        max-width: 580px;
    }
}

@media (max-width: 1400px) {
    .info__main-img {
        max-width: 500px;
    }

    .info-checkout__title {
        margin-top: 80px;
    }
}

@media (max-width: 1350px) {
    .banner {
        &__body {
            padding: 50px 65px;
            flex-direction: column;
        }

        &__wrapper {
            margin-bottom: 40px;
        }

        &__title, &__text {
            text-align: center;
            max-width: 100%;
        }

        &__text {
            margin-top: 45px;
        }
    }

    .info {
        padding: 0 17px;

        &__wrapper {
            justify-content: space-around;
        }
    }

    .info-checkout-features {
        justify-content: space-around;

        &__wrapper {
            flex: unset;
        }
    }
}

@media (max-width: 1200px) {
    .info-checkout-features__text {
        max-width: 65%;
    }

    .howto__title {
        max-width: 525px;

        &:before {
            background-size: contain;
            background-repeat: no-repeat;
            top: -330px;
            left: -250px;
        }
    }
}

@media (max-width: 1023px) {
    .banner {
        &__body {
            padding: 50px 50px;
        }

        &__title {
            font-size: 53px;
            line-height: 56px;
        }

        &__text {
            margin-top: 35px;
        }
    }

    .banner-form {
        &__title {
            font-size: 34px;
            line-height: 37px;
        }

        &__text {
            font-size: 20px;
            line-height: 20px;
        }

        &__btn {
            font-size: 34px;
            line-height: 37px;
        }
    }

    .info-checkout__btn {
        margin-right: auto;
    }

    .howto__title {
        max-width: 470px;

        &:before {
            width: 932px;
            height: 906px;
            top: -310px;
        }
    }
}

@media (max-width: 991px) {
    .container{
        max-width: 720px;
    }

    .main {
        overflow: hidden;
    }

    .info {
        &__wrapper {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__text {
            margin-top: 50px;
            max-width: 85%;
        }

        &__text-wrapper {
            align-items: center;
        }
    }

    .info-checkout__title {
        margin-top: 20px;
        margin-right: auto;
        font-size: 28px;
    }

    .info-checkout-features {
        &:first-of-type {
            margin-top: 70px;
        }

        &__img {
            max-width: 160px;

            &:before {
                width: 202px;
                height: 114px;
            }
        }
    }

    .howto{
        margin: 190px auto 0;

        &__title {
            max-width: 425px;

            &:before {
                width: 832px;
                height: 806px;
                top: -270px;
                left: -210px;
            }
        }
    }
}

@media (max-width: 767px) { 
    .container{
        max-width: 540px;
    }

    .banner {
        &__body {
            padding: 35px 35px;
        }

        &__wrapper {
            margin-bottom: 35px;
        }

        &__title {
            font-size: 43px;
            line-height: 46px;
        }

        &__text {
            margin-top: 30px;
        }
    }

    .info-checkout__title {
        font-size: 22px;
        line-height: 24px;
        padding: 14px 0;
    }

    .info-checkout-features:first-of-type {
        margin-top: 55px;
    }
}

@media (max-width: 680px) {
    .howto__title {
        max-width: 370px;

        &:before {
            width: 772px;
            height: 746px;
            top: -260px;
            left: -220px;
        }
    }
}

@media (max-width: 575px) { 
    .container{
        max-width: 100%;
        padding: 0 20px;
    }

    .banner {
        &__body {
            padding: 30px 30px;
        }

        &__wrapper {
            margin-bottom: 25px;
        }

        &__title {
            font-size: 34px;
            line-height: 37px;
        }

        &__text {
            margin-top: 20px;
        }

        &__form {
            width: 100%;
            padding: 20px 26px 26px 10px;
        }
    }

    .banner-form {
        &__input, &__btn {
            width: 75%;
        }

        &__input {
            height: 45px;
            padding: 10px 12px;
            font-size: 24px;
        }

        &__btn {
            font-size: 28px;
            line-height: 32px;
        }

        &__title {
            font-size: 28px;
            line-height: 32px;
        }
    }

    .info {
        margin-top: 60px;

        &__text {
            margin-top: 40px;
            max-width: 95%;
        }
    }

    .info-checkout {
        &__title {
            font-size: 19px;
            line-height: 23px;
            padding: 14px;
        }

        &__features {
            flex-direction: column;
        }
    }

    .info-checkout-features {
        &__img {
            max-width: 190px;

            &:before {
                width: 232px;
                height: 144px;
            }
        }

        &__text {
            margin-top: 30px;
            max-width: 90%;
        }
    }
}

@media (max-width: 500px) {
    .howto {
        margin: 140px auto 0;

        &__title {
            max-width: 315px;

            &:before {
                width: 672px;
                height: 646px;
                top: -220px;
                left: -180px;
            }
        }
    }
}

@media (max-width: 510px) {

}

@media (max-width: 480px) {

}

@media (max-width: 420px) {
    .banner {

        &__body {
            padding: 20px;
            border-radius: 27px;
        }

        &__title {
            font-size: 26px;
            line-height: 31px;
        }

        &__form {
            padding: 16px 20px 20px 10px;
        }
    }

    .banner-form {
        border-radius: 25px;

        &__title, &__btn {
            font-size: 23px;
            line-height: 26px;
        }

        &__input {
            height: 40px;
            padding: 8px 10px;
            font-size: 18px;
        }

        &__btn {
            height: 42px;
        }
    }

    .info-checkout-features__img {
        max-width: 170px;

        &:before {
            width: 212px;
            height: 124px;
        }
    }

    .howto {
        margin: 125px auto 0;

        &__title {
            max-width: 265px;

            &:before {
                width: 562px;
                height: 536px;
                top: -180px;
                left: -160px;
            }
        }
    }
}

@media (max-width: 380px) {
    .banner {
        &__form {
            padding: 16px 16px 16px 10px;
        }
    }

    .banner-form {
        &__text {
            font-size: 16px;
            line-height: 16px;
        }

        &__title {
            margin-bottom: 16px;
        }

        &__label {
            margin-bottom: 12px;

            &:last-of-type {
                margin-bottom: 16px;
            }
        }

        &__title, &__btn {
            font-size: 23px;
            line-height: 26px;
        }

        &__input {
            height: 40px;
            padding: 8px 10px;
            font-size: 18px;
        }

        &__btn {
            height: 42px;
        }
    }
}

@media (max-width: 342px) {

}

@media (max-width: 325px) {

}