@media (min-width: 2200px) {
    .offer__background:before {
        top: -85px;
        bottom: -110px;
    }
}

@media (min-width: 2500px) {
    .offer__background:before {
        top: -75px;
        bottom: -150px;
    }
}

@media (min-width: 2800px) {
    .offer__background:before {
        bottom: -180px;
    }
}

@media (min-width: 3350px) {
    .offer__background:before {
        top: -75px;
        bottom: -220px;
    }
}

@media (min-width: 3650px) {
    .offer__background:before {
        top: -125px;
        bottom: -290px;
    }
}

@media (min-width: 1445px) {
    .info-checkout-features {
        border-radius: 15px!important;
    }
}

@media (max-width: 1439px) {
    .howto {
        &__title {
            max-width: 550px;

            &:before {
                top: -310px;
                left: -260px;
            }
        }

        &__text {
            margin-right: auto;
        }

        &__wrapper {
            max-width: 1156px;
            box-sizing: content-box;
            margin: 133px auto 0;
        }
    }

    .howto-instruction {
        &__text {
            max-width: 240px;
        }
    }

    .howto-instruction-arrow {
        &--first {
            top: 160px;
            width: 336px;
            height: 247px;
        }

        &--second {
            top: 90px;
            left: -300px;
            width: 273px;
            height: 167px;
        }

        &--third {
            top: 135px;
            width: 305px;
            height: 207px;
        }

        &--fourth {
            left: -315px;
            width: 238px;
            height: 185px;
        }
    }

    .offer-description__img {
        top: 50%;
        left: 0;
        width: 33%;
        transform: translateY(-50%);
    }
}

@media (max-width: 1400px) {
    .info__main-img {
        max-width: 500px;
    }

    .info-checkout__title {
        margin-top: 80px;
    }
}

@media (max-width: 1350px) {
    .info-wrapper {
       padding-right: 50px;
    }

    .info-checkout__features {
        margin-right: 50px;
        width: auto;
    }

    .info-checkout-features {
        &:nth-of-type(2n) {
            margin-left: 50px;
            margin-right: 0;
        }
    }

    .info-checkout-features-wrapper {
        padding-left: 40px;
    }

    .info-checkout-features-img {
        &--first {
            left: 55px;
        }

        &--second {
            left: 125px;
        }

        &--third {
            left: 120px;
        }

        &--fourth {
            bottom: -70px;
        }
    }

    .howto-wrapper {
        padding: 0 50px;
    }

    .offer {
        &__title {
            padding: 0 17px;
        }

        &__text {
            max-width: 85%;
        }
    }
}

@media (max-width: 1255px) {
    .howto {
        &__wrapper {
            max-width: 1000px;
        }

        &__instruction {
            margin-top: 40px;
        }
    }

    .howto-instruction-arrow {
        &--first {
            top: 230px;
            left: 20px;
            width: 175px;
            height: 127px;
            transform: rotate(6deg);
        }

        &--second {
            top: 120px;
            left: -182px;
            width: 153px;
            height: 93px;
            transform: rotate(-11deg);
        }

        &--third {
            top: 155px;
            left: 30px;
            width: 175px;
            height: 127px;
        }

        &--fourth {
            top: 100px;
            left: -180px;
            width: 158px;
            height: 125px
        }
    }
}

@media (max-width: 1200px) {
    .info__main-img {
        max-width: 470px;
    }

    .howto__title {
        max-width: 525px;

        &:before {
            background-size: contain;
            background-repeat: no-repeat;
            top: -330px;
            left: -270px;
        }
    }

    .howto-instruction {
        &:first-of-type {
            margin-top: 60px;
        }

        &__number {
            width: 60px;
            font-size: 100px;
            line-height: 110px;
            margin-right: 20px;
        }

        &__text {
            max-width: 225px;
        }

        &__step:before {
            top: -15px;
            width: 338px;
        }
    }

    .offer {
        &__description {
            padding: 60px 100px 0;
        }

        &__title {
            margin-top: 80px;
        }
    }

    .offer-description__img {
        width: 45%;
    }
}

@media (max-width: 1100px) {
    .howto {
        &__wrapper {
            max-width: 924px;
        }
    }

    .howto-instruction-arrow {
        &--first {
            top: 190px;
            left: 10px;
            width: 135px;
            height: 97px;
            transform: rotate(24deg);
        }

        &--second {
            top: 100px;
            left: -132px;
            width: 133px;
            height: 83px;
            transform: rotate(-23deg);
        }

        &--third {
            top: 145px;
            left: 10px;
            width: 125px;
            height: 87px;
            transform: rotate(19deg);
        }

        &--fourth {
            top: 90px;
            left: -145px;
            width: 138px;
            height: 115px;
            transform: rotate(-18deg);
        }
    }
}

@media (max-width: 1080px) {
    .banner {
        &__body {
            padding: 32px 55px 30px;
        }
    }

    .info__title {
        font-size: 3.6rem;
        line-height: 3.3rem;
    }
}

@media (max-width: 1023px) {
    .info-checkout {
        &__btn {
            margin-right: auto;
        }

        &__wrapper {
            margin-right: auto;
        }

        &__form {
            right: 50%;
            transform: translateX(50%);
        }
    }

    .howto {
        margin-top: 180px;

        &__title {
            max-width: 470px;

            &:before {
                width: 932px;
                height: 906px;
                top: -305px;
                left: -255px;
            }
        }
    }

    .howto-instruction {
        &__arrow {
            display: none;
        }

        &__step:before {
            width: 288px;
            height: 129px
        }
    }

    .offer__title {
        max-width: 680px;
    }
}

@media (max-width: 991px) {
    .banner-form {
        &__title,
        &__btn {
            font-size: 1rem;
            line-height: 1.2rem;
        }
    }

    .info {
        &__wrapper {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__text {
            margin-top: 50px;
            max-width: 100%;
        }

        &__text-wrapper {
            align-items: center;
        }
    }

    .info-wrapper {
        padding-left: 50px;
    }

    .info-checkout__title {
        margin-top: 20px;
        margin-right: auto;
    }

    .info-checkout-features {
        padding-right: 40px;

        &__number {
            font-size: 230px;
            line-height: 205px;
        }

        &__img {
            width: 190px;
        }
    }

    .info-checkout-features-img {
        &--first {
            bottom: -25px;
        }

        &--second {
            left: 95px;
            bottom: -10px;
        }

        &--third {
            left: 85px;
            bottom: -30px;
        }

        &--fourth {
            left: 100px;
            bottom: -35px;
        }
    }

    .howto{
        margin-top: 160px;

        &__title {
            max-width: 425px;

            &:before {
                width: 832px;
                height: 806px;
                top: -270px;
                left: -220px;
            }
        }
    }

    .howto-instruction {
        &__step:before {
            top: -10px;
            width: 258px;
            height: 119px;
        }

        &__text {
            max-width: 185px;
        }
    }

    .offer {
        &__description {
            max-width: 85%;
            padding: 0;
        }

        &__btn {
            margin-top: 10px;
        }
    }

    .offer-description {
        margin-top: 40px;

        &__text {
            max-width: 100%;
            text-align: center;
        }

        &__img {
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 420px;
        }
    }
}

@media (max-width: 980px) {
    .info-checkout__title {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (max-width: 900px) {
    .banner {
        &__form {
            flex-direction: column;
            max-width: 410px;
        }
    }

    .banner-form-left {
        padding: 28px 20px 250px;
    }

    .banner-form {
        &__right {
            width: auto;
            right: -14px;
            left: -14px;
            bottom: 20px;
            top: unset;
        }

        &__text {
            margin-top: 0;
        }
    }

    .banner-form-right {
        padding: 40px 25px;
        gap: 30px;
    }
}

@media (max-width: 865px) {
    .banner {
        &__title {
            font-size: 2.1rem;
            line-height: 2.6rem;
        }
    }
}

@media (max-width: 800px) {
    .info-checkout-features-text {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .banner {
        &__title {
            font-size: 1.8rem;
            line-height: 2.3rem;
        }
    }

    .info-checkout {
        &__features {
            margin-top: 25px;
        }

        &__title {
            font-size: 1rem;
            line-height: 1.2rem;
        }
    }

    .info-checkout-title {
        padding: 14px;
    }

    .info-checkout-features {
        padding-right: 25px;
        gap: 100px;

        &:first-of-type {
            margin-top: 55px;
        }

        &__number {
            font-size: 180px;
            line-height: 185px;
        }

        &__img {
            width: 160px;
        }
    }

    .info-checkout-features-wrapper {
        padding-left: 25px;
    }

    .info-checkout-features-img {
        &--first {
            left: 35px;
        }

        &--second {
            left: 70px;
            bottom: 0px;
        }

        &--third {
            left: 60px;
            bottom: -15px;
        }

        &--fourth {
            left: 65px;
            bottom: -20px;
        }
    }

    .howto{
        margin-top: 140px;

        &__title {
            max-width: 405px;

            &:before {
                top: -280px;
                left: -230px;
            }
        }
    }

    .howto-instruction {
        &__text {
            max-width: 176px;
        }

        &__step:before {
            width: 248px;
            height: 109px;
        }
    }

    .offer__btn {
        max-width: 90%;
    }
}

@media (max-width: 680px) {
    .info__text {
        max-width: 100%;
    }

    .howto {
        &__title {
            max-width: 380px;

            &:before {
                width: 772px;
                height: 746px;
                top: -250px;
                left: -210px;
            }
        }
    }

    .howto-instruction {
        &__number {
            font-size: 85px;
            line-height: 90px;
            margin-right: 15px;
        }

        &__text {
            max-width: 166px;
        }

        &__step:before {
            width: 238px;
            height: 99px
        }
    }
}

@media (max-width: 620px) {
    .banner__body {
        padding: 20px;
    }
}

@media (max-width: 575px) {
    .banner {
        &__title {
            font-size: 1.6rem;
            line-height: 2.1rem;
        }

        &__text {
            font-size: 0.9rem;
        }
    }

    .banner-form-left {
        gap: 13px;
        padding: 15px 15px 190px;
    }

    .banner-form-input {
        padding: 10px 15px;
    }

    .banner-form-right {
        padding: 20px 45px 25px;
        gap: 20px;
    }

    .banner-form__right {
        bottom: 15px;
    }

    .info {
        margin-top: 60px;

        &__text {
            margin-top: 40px;
        }
    }

    .info-wrapper {
        padding: 0 30px;
    }

    .info-checkout {
        &__title {
            margin-left: 30px;
            margin-right: 30px;
        }

        &__features {
            flex-direction: column;
            margin-right: 30px;
        }
    }

    .info-checkout-features {
        padding-left: 25px;
        gap: 0;

        &:nth-of-type(2n) {
            margin-left: 30px;
        }
    }

    .info-checkout-wrapper {
        padding: 0 15px;
    }

    .info-checkout-features-wrapper {
        padding-left: 0;
    }

    .info-checkout-features-img {
        right: 0;
        bottom: 0;
    }

    .howto {
        &__wrapper {
            margin-top: 85px;
        }
    }

    .howto-wrapper {
        padding: 0 30px;
    }

    .howto-instruction {
        &__description {
            margin-left: 50px;
        }
    }

    .offer {
        margin-top: 75px;

        &__title {
            margin-top: 60px;
            font-size: 3.5rem;

            .melbet-color {
                font-size: 4.3rem;
            }
        }
    }

    .offer-description {
        margin-top: 30px;

        &__text {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}

@media (max-width: 520px) {
    .info-checkout__title {
        font-size: 0.95rem;
        line-height: 1.2rem;
    }
}

@media (max-width: 500px) {
    .howto {
        margin-top: 120px;

        &__title {
            max-width: 340px;

            &:before {
                width: 672px;
                height: 646px;
                top: -220px;
                left: -180px;
            }
        }
    }

    .howto-title {
        line-height: 4.4rem;
    }

    .howto-instruction {
        &__description {
            margin-left: 30px;
        }

        &__text {
            max-width: 150px;
        }

        &__step:before {
            width: 218px;
            height: 89px;
        }
    }

    .info-checkout {
        &__title {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .offer__title {
        font-size: 3.2rem;

        .melbet-color {
            font-size: 4rem;
        }
    }
}

@media (max-width: 435px) {
    .howto {
        &__instruction {
            margin-top: 20px;
        }
    }

    .howto-instruction {
        &:first-of-type {
            margin-top: 40px;
        }
    }

    .info-checkout__title {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
}

@media (max-width: 420px) {
    .banner__text {
        margin-top: 25px;
    }

    .banner-form {
        &__btn,
        &__title {
            font-size: 1.2rem;
            line-height: 1.4rem;
        }
    }

    .info-checkout-features {
        &:nth-of-type(odd) {
            align-items: flex-start;
        }

        &:nth-of-type(even) {
            align-items: flex-end;
        }

        &:first-of-type {
            margin-top: 30px;
        }

        &__number {
            font-size: 140px;
            line-height: 135px;
        }

        &__img {
            width: 120px;
        }
    }

    .info-checkout-features-img {
        &--second,
        &--fourth {
            left: -130px;
        }
    }

    .howto {
        margin-top: 100px;

        &__title {
            max-width: 295px;

            &:before {
                width: 562px;
                height: 536px;
                top: -175px;
                left: -140px;
            }
        }

        &__wrapper {
            margin-top: 70px;
        }
    }

    .howto-instruction {
        &__description {
            margin-left: 0;
        }

        &__text {
            max-width: 130px;
        }

        &__step:before {
            width: 198px;
        }
    }

    .offer {
        &__text,
        &__description {
            max-width: calc(100% - 34px);
        }
    }
}

@media (max-width: 390px) {
    .banner__title {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    .banner-form-right {
        padding: 20px 25px 25px;
    }

    .banner-form__text {
        margin-left: 0;
        max-width: 100%;
        text-align: center;
    }

    .info-wrapper {
        padding: 0 15px;
    }

    .info-checkout {
        &__title {
            margin-left: 15px;
            margin-right: 15px;
        }

        &__features {
            margin-top: 20px;
            margin-right: 15px;
        }
    }

    .info-checkout-features {
        padding: 0 15px;

        &:nth-of-type(2n) {
            margin-left: 15px;
        }

        &__number {
            font-size: 120px;
            line-height: 115px;
        }

        &__img {
            width: 100px;
        }
    }

    .info-checkout-features-img {
        &--second,
        &--fourth {
            left: -110px;
        }

        &--first,
        &--third {
            left: 45px;
        }
    }

    .howto-wrapper {
        padding: 0 15px;
    }
}

@media (max-width: 365px) {
    .info-checkout-title {
        padding: 10px 55px;
    }

    .howto {
        margin-top: 90px;

        &__title {
            font-size: 3.4rem;
            line-height: 3.8rem;
            max-width: 255px;

            &:before {
                top: -190px;
                left: -160px;
            }
        }
    }

    .howto-instruction__number {
        font-size: 65px;
        line-height: 70px;
        margin-right: 10px;
    }

    .offer__title {
        font-size: 2.7rem;
        line-height: 3.5rem;

        .melbet-color {
            font-size: 3.5rem;
            line-height: 3.7rem;
        }
    }

    .offer-description__text {
        font-size: 1.35rem;
        line-height: 2rem;
    }
}

@media (max-width: 345px) {
    .banner__title {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}