.btn{
    display: block;
    max-width: 380px;
    width: 100%;
    min-height: 52px;
    margin-left: auto;
    padding: 12px 0 11px;
    line-height: 1.2;
    border: none;
    border-radius: 10px;
    background: linear-gradient(188deg, var(--main-text-color) 3.26%, var(--main-text-color) 24.11%, #E89D00 42.94%, var(--main-text-color) 66.92%, #F2CC3F 87.31%);
    color: var(--bg-color);
    cursor: pointer;
}

